table, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid black;
}

th{
  text-align: left;
  padding: 16px;
  background-color: red
}

tr:nth-child(even) {
  background-color:blueviolet;
}
